In [57]:
%pylab

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [69]:
import pandas as pd


g=pd.read_csv('meteor1.csv', sep=';', decimal=',', usecols='L') # generated output data from time_to_LB 
g.replace(g)
s_d=pd.read_csv('METEOR_M1_20091007 (2).csv', sep=',', decimal='.',header=None, usecols=[1]) # sourse data

a=[0]*len(g>99,99)

TypeError: cannot replace [            L
0       1.126
1       1.125
2       1.124
3       1.123
4       1.122
5       1.122
6       1.121
7       1.120
8       1.120
9       1.119
10      1.119
11      1.119
12      1.118
13      1.118
14      1.118
15      1.118
16      1.118
17      1.118
18      1.118
19      1.119
20      1.119
21      1.120
22      1.121
23      1.121
24      1.122
25      1.123
26      1.123
27      1.124
28      1.125
29      1.126
...       ...
8878  102.890
8879   96.558
8880   90.424
8881   84.558
8882   79.006
8883   73.793
8884   68.927
8885   64.406
8886   60.219
8887   56.352
8888   52.785
8889   49.499
8890   46.472
8891   43.685
8892   41.119
8893   38.753
8894   36.572
8895   34.560
8896   32.700
8897   30.981
8898   29.389
8899   27.913
8900   26.544
8901   25.272
8902   24.088
8903   22.986
8904   21.958
8905   20.998
8906   20.101
8907   19.385

[8908 rows x 1 columns]] with method pad on a DataFrame

In [54]:
g_e=a+list(g['L'])+a

In [60]:
s_d.plot()

In [65]:
g.replace?

In [68]:
g>99

          L
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
...     ...
8878   True
8879  False
8880  False
8881  False
8882  False
8883  False
8884  False
8885  False
8886  False
8887  False
8888  False
8889  False
8890  False
8891  False
8892  False
8893  False
8894  False
8895  False
8896  False
8897  False
8898  False
8899  False
8900  False
8901  False
8902  False
8903  False
8904  False
8905  False
8906  False
8907  False

[8908 rows x 1 columns]